:root {
            --bulma-primary: #008009;
            --bulma-primary-h: 124deg;
            --bulma-primary-s: 100%;
            --bulma-primary-l: 25%;
            --bulma-primary-invert-l: 100%;

            --bulma-link-text: #333333;
            --bulma-link-text-h: 0deg;
            --bulma-link-text-s: 0%;
            --bulma-link-text-l: 20%;

            --bulma-text: #333333;
            --bulma-text-h: 0deg;
            --bulma-text-s: 0%;
            --bulma-text-l: 20%;

            --bulma-info: #DEEDDF;
            --bulma-info-h: 124deg;
            --bulma-info-s: 29%;
            --bulma-info-l: 90%;
}

html, body {
    overflow-x: hidden; /* Verhindert horizontalen Scroll komplett */
    width: 100%;
}

.navbar-logo {
    max-height: 50px !important;
    width: auto;
}

.has-border-primary {
    border: 1px solid var(--bulma-primary);
    border-radius: 0.75rem;
}

.has-border-radius-medium {
    border-radius: 0.75rem;
}

.has-border-radius-small {
    border-radius: 0.25rem;
}

.link-hover-primary:hover {
    color: var(--bulma-primary);
}

.navbar-item:hover {
    background-color: transparent;
    color: var(--bulma-primary);
}
.navbar-item:active {
    color: var(--bulma-primary);
}

.navbar-start {
    gap: 2rem;
}

.navbar-burger {
    color: var(--bulma-primary);
    background-color: var(--bulma-info);
}

@media screen and (max-width: 767px) {
    #privacy-links {
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    #privacy-links {
        justify-content: right;
    }
}

@media screen and (max-width: 767px) {
    #footer-logo {
        text-align: center;
    }
}

.has-gap-medium {
    gap: 0.5rem;
}
/*Worttrennung bei langen Links*/
.content a {
    overflow-wrap: break-word;
    word-break: break-word;
}

/*Styles der Tabelle*/
.table thead td, .table thead th {
  background-color: #DEEDDF;
  cursor: pointer;
  user-select: none;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  
}

.arrow.asc {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #363636;
}

.arrow.dsc {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #363636;
}
